{% extends 'layouts/base.njk' %}

{% block content %}
<div class="homepage">
  <main class="homepage-content">
    <div class="homepage-hero">
      <div class="homepage-hero-text">
        {% block heroText %}{% endblock %}
      </div>

      <div class="homepage-actions-buttons">
        <a class="imbala-button" href="/about-us">Learn About Us</a>
        <a class="imbala-button" href="/cafe/">View Our Menu</a>
        <a class="imbala-button" href="#">Check Our Events</a>
        <a class="imbala-button" href="#">Become A Member</a>
      </div>
    </div>
  </main>
</div>
{% endblock %}
