---
layout: layouts/base.njk
---

<div class="homepage">
  <main class="homepage-content">
    <div class="homepage-hero">
      <div>
        <p>
          Imbala is an independent, member-owned political cooperative and vegan café in Jerusalem.
        </p>
        <p>Welcoming guests from all corners of this divided city and world.</p>
      </div>

      <div class="homepage-actions-buttons">
        <button class="imbala-button">Learn About Us</button>
        <button class="imbala-button">View Our Menu</button>
        <button class="imbala-button">Check Our Events</button>
        <button class="imbala-button">Become A Member</button>
      </div>
    </div>
  </main>
</div>
