{% extends 'layouts/base.njk' %}

{% block content %}
<div class="homepage">
  <main class="homepage-content">
    <div class="homepage-hero">
      <div class="homepage-hero-text">
        {% block heroText %}{% endblock %}
      </div>

      <div class="homepage-actions-buttons">
        <button class="imbala-button">Learn About Us</button>
        <button class="imbala-button">View Our Menu</button>
        <button class="imbala-button">Check Our Events</button>
        <button class="imbala-button">Become A Member</button>
      </div>
    </div>
  </main>
</div>
{% endblock %}
