<button class="menu-btn" aria-label="Open navigation menu"></button>
<div class="site-nav-content">
  <button class="nav-close-button" aria-label="Close navigation menu"></button>
  <div class="site-nav-menu-wrapper">
    <nav class="site-nav-menu">
      <a href="/{{ locale }}">
        <picture>
          <source
            type="image/webp"
            srcset="/images/logo@1x.webp 1x, /images/logo@2x.webp 2x, /images/logo@3x.webp 3x"
          />
          <source srcset="/images/logo@1x.png 1x, /images/logo@2x.png 2x, /images/logo@3x.png 3x" />
          <img src="/images/logo@1x.png" alt="" class="nav-logo" />
        </picture>
      </a>
      <a href="/{{ locale }}/about-us" class="site-nav-menu__link">{{ nav[locale].about }}</a>
      <a href="/{{ locale }}/cafe" class="site-nav-menu__link">{{ nav[locale].cafe }}</a>
      <a href="/{{ locale }}/events" class="site-nav-menu__link">{{ nav[locale].events }}</a>
      <a href="/{{ locale }}/join-us" class="site-nav-menu__link">{{ nav[locale].join }}</a>
    </nav>

    <div class="nav-footer">
      <address class="nav-footer-address">{{ nav[locale].address }}</address>

      {% if locale == 'he' %}
      <div class="nav-footer-lang">
        <a href={% if page.fileSlug == 'he' %}"/en/"{% else %}"/en/{{ page.fileSlug }}"{% endif %} lang="en" hreflang="en">English</a>&#32/&#32
        <a href={% if page.fileSlug == 'he' %}"/ar/"{% else %}"/ar/{{ page.fileSlug }}"{% endif %} lang="ar" hreflang="ar">العربية</a>
      </div>
      {% elseif locale == 'en' %}
      <div class="nav-footer-lang">
        <a href={% if page.fileSlug == 'en' %}"/he/"{% else %}"/he/{{ page.fileSlug }}"{% endif %} lang="he" hreflang="he">עברית</a>&#32/&#32
        <a href={% if page.fileSlug == 'en' %}"/ar/"{% else %}"/ar/{{ page.fileSlug }}"{% endif %} lang="ar" hreflang="ar">العربية</a>
      </div>
      {% elseif locale == 'ar' %}
      <div class="nav-footer-lang">
        <a href={% if page.fileSlug == 'ar' %}"/he/"{% else %}"/he/{{ page.fileSlug }}"{% endif %} lang="he" hreflang="he">עברית</a>&#32/&#32
        <a href={% if page.fileSlug == 'ar' %}"/en/"{% else %}"/en/{{ page.fileSlug }}"{% endif %} lang="en" hreflang="en">English</a>
      </div>
      {% endif %}

      <div class="nav-footer-social">
        <a
          href="https://www.facebook.com/imbalacoop"
          class="nav-footer__link nav-footer__link--facebook"
          target="_blank"
        >
          {% include '../../images/facebook-icon.svg' %}
        </a>
        <a
          href="https://www.instagram.com/imbalacoop/"
          class="nav-footer__link nav-footer__link--instagram"
          target="_blank"
        >
          {% include '../../images/instagram-icon.svg' %}
        </a>
      </div>
    </div>
  </div>

  <aside class="faded-background" aria-hidden="true"></aside>
</div>
