<button class="menu-btn" aria-label="Open navigation menu"></button>
<div class="site-nav">
  <button class="nav-close-button aria-label="Close navigation menu"></button>
  <nav class="site-nav-menu">
    <a href="#" class="site-nav-menu__link">Home</a>
    <a href="#" class="site-nav-menu__link">About Us</a>
    <a href="#" class="site-nav-menu__link">Menu</a>
    <a href="#" class="site-nav-menu__link">Shop</a>
    <a href="#" class="site-nav-menu__link">Join Us</a>
  </nav>
  <aside class="faded-background" aria-hidden="true"></aside>
</div>
