<button class="menu-btn" aria-label="Open navigation menu"></button>
<div class="site-nav">
  <button class="nav-close-button aria-label="Close navigation menu"></button>
      <img src="images/logo.png" class="nav-logo" />
  <nav class="site-nav-menu">
    <a href="#" class="site-nav-menu__link">About Us</a>
    <a href="#" class="site-nav-menu__link">Cafè</a>
    <a href="#" class="site-nav-menu__link">Events</a>
    <a href="#" class="site-nav-menu__link">Join Us</a>
  </nav>
  <aside class="faded-background" aria-hidden="true"></aside>
</div>
