---
title: 'Events'
backgroundImage: '/images/cafe-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}

<div class="events">
  <div class="event-box">
    <div class="event-box__date">JUN 3, 12:00 - 14:00</div>
    <h3 class="event-box__title">Imbala’s reopening</h3>
    <div class="event-box__description">
      Join us for the best COVID19 afterpaty in town! Cheap coffee will be served.
    </div>
    <a class="">facebook event</a>
  </div>
</div>
{% endblock %}
