---
title: 'Events'
backgroundImage: '/images/events-bg.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}

<div class="events">
<p class="events-message">
  There are no planned events at the moment, but you're always welcome to pay a visit!
</p> 
</div>
{% endblock %}
