---
description: 'Imbala is an independent, member-owned political cooperative and vegan café in Jerusalem.'
---

{% extends 'layouts/homepage.njk' %} 

{% block welcomeText %}
  <p>Imbala is an independent, member-owned political cooperative and vegan café in Jerusalem.</p>
{% endblock %} 
