---
title: 'Library'
description: 'The Imbala CO-OP book library!'
backgroundImage: '/images/library.jpg'
---
{% extends 'layouts/page.njk' %} {% block pageContent %}
<div class="about-us-content">
<p>
    Welcome to the <strong>Imbala library</strong>, which was built by generous
    book donations from our community.
    <strong>
        (If you want to know more about Imbala, a member-run cooperative, visit the <a href="/en/about-us">about page</a>!)
    </strong>
</p>
<p>
    Please take down a book! <strong>Read it here</strong>, and when you are
    done, put it back where it was (use the colors)!
</p>
<p>
    The <strong>legend </strong>is:
<ul>
<li><span class="color-name azure">Light blue</span> - The Nakba and the Occupation</li>
<li><span class="color-name blue">Dark blue</span> - Other local struggles in Palestine / Israel</li>
<li><span class="color-name red">Red</span> - Struggles outside of Palestine</li>
<li><span class="color-name green">Green</span> - Fiction and non-fiction</li>
<li><span class="color-name">White</span> - Not for checkout</li>
</ul>    

<p>
    Don’t forget to look at the <strong>fanzines </strong>in the crates on the
    bottom shelf. If you have a fanzine you want to leave here, place it in the
    collection and send us an email so we can add it to the catalog.
</p>
<p>
    Want to <strong>donate</strong> to the library? You can help us buy more
    books, especially in Arabic. Want to donate books to the library? Great,
    but we don’t accept every book, so please write us an email.
</p>
<p>
    Want to <strong>browse the catalog</strong>? It is also on Imbala’s
    website: <a href="https://cutt.ly/LGo9gW5">https://cutt.ly/LGo9gW5</a>
</p>
<p>
Want to <strong>help Palestinian libraries</strong>? Check out    <em>Matloub</em>, <em>library books for Palestine</em>:
    <a href="https://matloub.librarianswithpalestine.org">
        https://matloub.librarianswithpalestine.org
    </a>
</p>
<p>
    <strong>Questions?</strong>
Write to:    <a href="mailto:imbala.library@gmail.com">imbala.library@gmail.com</a>
    <br/>
</p>
<h2>
    Checking out books</h2>
<p>
    If you want to read it at home, check it out. You’ll need to leave some
    contact details so we can be in touch to remind you to return the books.
</p>
<p>
    <em>Option 1</em>
: send us an email @    <a href="mailto:imbala.library@gmail.com">imbala.library@gmail.com</a>
</p>
<p>
    <em>Option 2</em>
    : Ask the Imbalista on shift to go to
    <a href="https://pad.riseup.net/p/Imbala_Library-keep">
        https://pad.riseup.net/p/Imbala_Library-keep
    </a>
    to add the details of the checkout.
</p>
<p>
    - Some books may be marked “not for checkout:”
</p>
<p>
    - <strong>Imbala members</strong> may check out up to three books at a time
    for up to a month. In the spirit of Occupy, at the end of the loan period,
    they may keep one of the borrowed books as long as they exchange it for
    another one that is approved by the library team.
</p>
<p>
    - <strong>Non-members</strong> can check out one book at a time with the
    same possibility to exchange it for a book of their own at the end of one
    month
</p>
<p>
    Another reason to write to
    <a href="mailto:imbala.membership@gmail.com">
        imbala.membership@gmail.com
    </a>
    and become a member of Imbala!
</p>
<div>
    <br/>
</div></div>
{% endblock %}
