---
title: 'Manifesto'
backgroundImage: '/images/about-us-thumb.jpg'
---

{% extends 'layouts/page.njk' %} 

{% block pageContent %}
<div class="about-us-content">
<p>Imbala is a cooperative that strives to change and nurture the space within which it is blossoming, to serve as a home for those often excluded from the public sphere and all those whose heart desires deep change in Jerusalem.</p>
<p>Today, Jerusalem can be a hostile city for certain populations, excluding those who don’t align with governing trends. For some, Jerusalem feels like a space that says: No, this place is not for you. There’s no room for you here.</p>
<p>That’s what we’re seeking. A place where we can say: actually, yes (the meaning of Imbala in Arabic).</p>
<p><span class="bold">Yes</span> to a communal space, a warm, loving, and nurturing home for Jerusalemite activists and communities that don’t feel safe in this city, namely Palestinians, leftist activists, the LGBTQ community, Mizrahim, people with unique needs and people with revolutionary ideas.<br/>
<span class="bold">Yes</span> to a space that will recreate and redraw the face of this city, through furthering joint political and social initiatives.<br/>
<span class="bold">Yes</span> to a communal place that is feminist, anti-racist, queer, multi-lingual, multi-generational and vegan.<br/>
<span class="bold">Yes</span> to a vital space that is both a source of support and a magnet for initiatives that are artistic, political, social, and gender-oriented.</p>
<p>We envision Imbala as an open library, cafe, and gallery. Imbala will be used internally by the communities that comprise it, as well as by the Jerusalem community at-large, for exhibitions, parties, lectures, shows, and whatever its members dream up. Imbala
is a place to enjoy and to learn, on the one hand, and from which to act to change the surrounding city, on the other.</p>
<p>It is a nonprofit space that enables us
to build community, connect different struggles, and give presence and visibility to different spiritual traditions, and Palestinian, Israeli, feminist, queer, Mizrahi, and vegan culture.<br />
We recognize and oppose the unequal power relations that the occupation creates between East and West Jerusalem societies.<br/> We acknowledge the ongoing Nakba, which prevents access and membership to Imbala for millions of Palestinians. However, we still hope that we can create a space for all of the local underrepresented voices of Jerusalem.</p>
<p>We are Jerusalemite activists. Our tongues shall not cling to the roofs of our mouths. We will raise our voices and build the home in which we wish to live in this city. We will build a space that allows for novel, open, and equal opportunities.</p>
<p class="bold">Every member of the cooperative is a volunteer, who can produce events that align with our shared vision. Anyone can be a part of Imbala, under the sole condition that one can accept the other members that make up the space.</p>
</div>

{% endblock %}