---
layout: base.njk
---

<div class="homepage">
  <main class="homepage-content">
    <div class="homepage-content-intro">
      Imbala is an independent and cooperative space, supported and run by its own members.
    </div>
    <img src="images/logo.png" class="homepage-logo" />
    <address class="homepage-content-address">
      <span class="homepage-content-address-line">Yanai 3, Jerusalem</span>
      <span class="homepage-content-address-line">Wed, Thu & Sat 12:00 - 23:00</span>
      <span class="homepage-content-address-line">Fri 11:00 - 18:00</span>
    </address>
  </main>
</div>
