---
layout: base.njk
---

<div class="homepage">
  <main class="homepage-content">
    <div class="homepage-content-intro">
    <div aria-label="test">
      {# Imbala is an independent and cooperative space, supported and run by its own members. #}
    </div>
    <div>Imbala is an independent, member-owned political cooperative and vegan café in Jerusalem.</div>
    </div>
    <img src="images/logo.png" class="homepage-logo" />
    <div class="homepage-content-slogan">Welcoming guests from all corners of this divided city and world.</div>
    <address class="homepage-content-address">
      <span class="homepage-content-address-line">Yanai 3, Jerusalem</span>
      <span class="homepage-content-address-line">Wed, Thu & Sat 12:00 - 23:00</span>
      <span class="homepage-content-address-line">Fri 11:00 - 18:00</span>
    </address>
  </main>
</div>
