---
title: 'من نحن'
backgroundImage: '/images/about-us-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}
<div class="about-us-content">
<p><span class="bold">“مبلا”</span> هي جماعة تعاونية تطالب بتغيير وتوسيع الفضاء المقدسي الذي نشأت فيه، لكي تتمكن من بناء منزل للمهمشين من الفضاء العام للمدينة.</p>
<p>يحصل عداء وتهميش في مدينتنا في هذه الأيام لمجموعات من السكان المغايرة في اتجاهاتها عن الحاكمين في المدينة: وهم
الفلسطينيون، النشطاء من اليسار، المثليون، الشرقيون، وأخرين. نشعر بأن الحاكمين يقولون لهؤلاء: “لا! هذا ليس مكانكم، ليس لكم موطئ قدم هنا!”</p>
<p>سنرد عليهم: “مبلا!”</p>
<p>نعم لفضاء تعاوني، بيت مقدسي دافئ مشترك للنشطاء وللمجتمعات التي لا تشعر بالراحة في المدينة. نعم لبيت سيساهم بتغيير وجه المدينة. مكان جماعي، نسوي، نباتي، كويري، ضد العنصرية، متعدد اللغات، متعدد الأعراق، ومتعدد الأجيال. مكان الذي يكون نقطة دعم وارتكاز ومركز ُا أساسي ُا لريادة الأعمال السياسية، الاجتماعية، الجندرية ومن أجل حقوق الحيوانات.</p>
<p>نريد أن تكون “مبلا” مكتبة مفتوحة للجمهور، مقهى، معرض للفن، مكان مفتوح تستخدمه كل الجماعات المكونه له وكذلك مفتوح تجاه الجمهور العام من الخارج عن طريق المعارض، الحفلات، والمحاضرات. مكان للدراسة والمتعة من جهة ومكان لكي نغير وجه المدينة حولنا من جهة الأخرى.</p>
<p>مكان غير ربحي يسمح لنا أن نبني مجتمع ونطوره، للربط بين كفاحات مختلفة، ونعطي حضور ومظهر لثقافة وأفكار فلسطينية، اسرائيلية، نسوية، كويرية، عربية-يهودية، نباتية وبخاصه ثقافة بديلة. نحن نعترف ونقف ضد النكبة المستمرة التي تمنع من ملايين الفلسطينيين الوصول والعضوية في “مبلا”. مع ذلك، نتمنى أن نأسس مكان يحتوي على كل الأصوات المحلية في القدس التي لا تجد تعبير كاف في المدينة.</p>
<p>نحن مقدسيون ومقدسيات الذين نعمل من أجل القدس العزيزة ومن داخلها. لا يلتصق لساننا بحنكنا ونصمت بل نرفع صوتنا ونبني البيت الذي نريد أن نسكن فيه. على الرغم من المحيط الموجود حولنا نحن نعمل على أن يكون هذا البيت مكان ينجب إمكانيات عيش جديدة، مساوية، ومفتوحة.</p>
<p>يتطوع كل عضو/ة في الجماعة التعاونية في تشغيل المكان، المشاركة بانتاج الاحداث من معارض، محاضرات، وحفلات. وانتاج المكان حسب الرؤية المشتركة. يمكن لكل واحد/ة أن يكون جزء من “مبلا” بشرط وحيد أن يحتووا جميع من هم جزء من مبلا. كلنا مشتركين في صنع “مبلا” وما سيحويه.</p>
<p class="bold">انتم الأيدي، الرأس، والقلب لهذا المكان، كل شيء يعتمد على الأشخاص، التواصل وتحمل المسؤولية. تعالوا نبني شيء جديد وحقيقي الذي سيؤدي الى اتحاد وتقارب في القدس، كل شخص يأتي بما يميزه ومعاً نبني شيء جديد ومميز.</p>
</div>
{% endblock %}
