---
title: 'مقهى'
backgroundImage: '/images/cafe-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}
<div class="cafe-header">
  <div class="cafe-header-intro">
    <p>مقهانا يقوم يتقديم أكل صحي, لذيذ ومسعّر بإنصاف والذي يُطبخ ويُقدّم على أيدي أعضاء وعضوات إمبلا</p>
    <p>تسرّنا استضافتكم لقهوه, لوجبه مع صديقات أو للعمل على الحاسوب المحمول بساعات دوامنا.</p>
  </div>
  <div class="cafe-header-hours">
    <div class="message-box">
      <h2 class="cafe-header-hours-title">ساعات العمل</h2>
      <div class="cafe-header-hours-entries">
        <div class="cafe-header-hours-entry">
          <span class="cafe-header-hours-day">الأحد, الإثنين واٌلثلاثاء</span>
          <span>مغلق</span>
        </div>
        <div class="cafe-header-hours-entry">
          <span class="cafe-header-hours-day">الأربعاء والخميس</span>
          <span class="cafe-header-hours-time">12:00 - 21:00</span>
        </div>
        <div class="cafe-header-hours-entry">
          <span class="cafe-header-hours-day">الجمعة</span>
          <span class="cafe-header-hours-time">11:00 - 18:00</span>
        </div>
        <div class="cafe-header-hours-entry">
          <span class="cafe-header-hours-day">سبت</span>
          <span class="cafe-header-hours-time">12:00 - 23:00</span>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="cafe-menu">
  <div>
    {%- for section in temp_menu['ar'] -%}
    <h2 class="cafe-menu-section-title">{{ section.title }}</h2>

    <div class="cafe-menu-section">
      {%- for item in section.items -%}
      <div class="cafe-menu-item">
        <h3 class="cafe-menu-item-title">{{ item.title }}</h3>
        <div class="cafe-menu-item-desc">
          <h5 class="cafe-menu-item-desc-text">{{ item.description | safe }}</h5>
          <span class="cafe-menu-item-desc-price"
            >{{ item.price.regular }}{% if item.price.member %}/{{ item.price.member }}{% endif
            %}₪</span
          >
        </div>
      </div>
      {%- endfor -%}
    </div>
    {%- endfor -%}
  </div>
  {% endblock %}
</div>
