---
title: 'أحداث'
backgroundImage: '/images/events-bg.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}

<div class="events">
<p class="events-message">لا توجد أحداث مخطط لها في الوقت الحالي ، ولكن نرحب دائمًا بزيارتك!</p> 
</div>
{% endblock %}
