---
title: 'انضموا إلينا'
backgroundImage: '/images/cafe-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}
<div class="about-us-content">
  <p>
إمبالا هي جمعيّه تعاونية, التي تقوم بمساهمة ولأجل الأعضاء القائمين على ابقائها موجوده.
  </p>
  <p>
كل ما يحدث بإمبلا, يتمكّن حدوثه بفضل الأعضاء القائمين على المقهى: شراء مركّبات الطعام, الطبيخ ألشهي, تخطيط الحفلات عرض الأفلام وإلخ.
  </p>
  <p>
جميع القرارات التي تخص التعاونية, بما في ذلك ماذا تتخلّل لائحة الطعام, كيفيّة الرّد على أحداث معاصرة وشكليّة المقهى, تُتّخذ بالإجماع في الأجتماع الشهري.  </p>

  <p>
نحن ندعوكُنَّ لتكونوا شريكات وتصبحن عضوات بإمبلا!
  </p>

  <div class="message-box join-us-message-box">
  <p>لستم من سكان القدس, ولكنّكم معنيون بدعم وبناء مجتمع ناشط وفعال؟</p>
  <p>ادعمونا من بعد عن طريق ال <a href="https://www.patreon.com/imbala" target="_blank">Patreon</a>.</p>
  </div>

  <h3>من يستطيع ان يصبح عضو؟</h3>

  <p>
    الجميع. الشرط الوحيد هو قبول باقي أعضاء التعاونية.
  </p>
  <h3>ماذا تتطلّب مني العضويّه؟</h3>
  <p>
    تتطلّب العضوية بإمبلا من كل عضوة أن تعمل ورديّه واحدة بالشهر بالمقهى, مدّة الورديّه 4 ساعات (أو بتشغيل المقهى بساعات العمل أو بورديّة طبخ), وأن تدفع 20 شاقل جديد شهرياََ. كل شيء آخر هو بمثابة إضافة.

  </p>
  <h3>ماذا تمنحني العضويه بإمبلا؟</h3>
  <p>
كعضوة بإمبلا, فأنت أولاً تحظين بأن تكوني جزء من مجموعتنا الرّائعه. بعد ذلك تستطيعين الإشتراك باتخاذ القرارات التي تخص المكان, ان تُدعين للمناسبات المغلقة للأعضاء فقط, وتستطيعين استخدام المكان لبرامج ومقابلات من تنظيمِك, سواء كانت مفتوحة للجمهور أو مغلقة. وايضا تحظين بتخفيض على الطعام والمشروبات عند قدومك.

  </p>
  <h3>رائع! كيف أنضم؟</h3>
  <p>
ابعثولنا إي-ميل على imbala.membership@gmail.com وسوف نتواصل معكن :)
  </p>
</div>

{% endblock %}
