---
title: 'مكتبة'
description: 'ספריית הספרים של קואופרטיב אםבאלה בירושלים'
backgroundImage: '/images/library.jpg'
---
{% extends 'layouts/page.njk' %} {% block pageContent %}
<div class="about-us-content">

<p>
    مرحبًا بكم في مكتبة مبلا، المبنية من تبرعات الكتب من مجتمعنا (إذا كنت
    تريد.ين معرفة المزيد عن مبلا، وهي مقهى تعاوني يديره أعضاؤه وعضواته، نحن هنا
    لأي استفسار!)
</p>
<p>
    ندعوك لأخذ كتاب! يمكن <strong>قراءته هنا</strong>، ثم إعادته إلى مكانه
(باستخدام الألوان). <strong>تفسير الألوان</strong>:<strong>الأزرق الفاتح</strong><strong> </strong>- النكبة والاحتلال ؛<strong>الأزرق الداكن</strong> - صراعات محلية أخرى في فلسطين / إسرائيل ؛<strong>الأحمر</strong> - قضايا خارج فلسطين / إسرائيل ؛    <strong>الأخضر</strong> - خيالي وغير خيالي ؛ <strong>أبيض </strong>- ليس
    للاستعارة.
</p>
<p>
    نقترح إلقاء نظرة على <strong>المجلات المتخصصة (فانزين)</strong> الموجودة في
    الصناديق على الرف السفلي. إذا كان لديك فانزين تريد تركه هنا ، يرجى وضعه في
    أحد الصناديق وإرسال بريد إلكتروني إلينا حتى نتمكن من إضافته إلى الكتالوج.
</p>
<p>
    هل تريد.ين <strong>التبرع </strong>للمكتبة؟ بامكانك مساعدتنا في شراء المزيد
    من الكتب، وخاصة باللغة العربية. هل تريد التبرع بالكتب للمكتبة؟ رائع ، لكننا
    لا نقبل كل كتاب، لذا يرجى مراسلتنا عبر البريد الإلكتروني.
</p>
<p>
هل تريد.ين<strong> البحث في الكتالوج</strong>؟ الكتالوج موجود في موقع مبلا:    <a href="https://cutt.ly/LGo9gW5">https://cutt.ly/LGo9gW5</a>
</p>
<p>
    هل تريد.ين <strong>مساعدة المكتبات الفلسطينية</strong>؟ افحصوا موقع "مطلوب"
    ، كتب مكتبة من أجل فلسطين:
    <a href="https://matloub.librarianswithpalestine.org/">
        https://matloub.librarianswithpalestine.org/
    </a>
</p>
<p>
    <strong>استفسارات</strong>
؟ أكتبوا لنا في:    <a href="mailto:imbala.library@gmail.com">imbala.library@gmail.com</a>
</p>
<p>
    <strong>استعارة الكتب:</strong>
</p>
<p>
    إذا أردت قراءة الكتاب في منزلك، يمكنك استعارته. نطلب ترك بعض تفاصيل الاتصال
    حتى نتمكن من التواصل لتذكيرك بإعادة الكتب.
</p>
<p>
خيار<em> 1</em>: أرسلوا إلينا بريدًا إلكترونيًا -    <a href="mailto:imbala.library@gmail.com">imbala.library@gmail.com</a>
</p>
<p>
    خيار<em> 2</em>: اطلبوا اعضاء مبلا أن يضيفوا تفاصيل الاستعارة في:
    <a href="https://pad.riseup.net/p/Imbala_Library-keep">
        https://pad.riseup.net/p/Imbala_Library-keep
    </a>
</p>
<p>
    - قد يتم وضع علامة "ليس للاستعارة" على بعض الكتب.
</p>
<p>
    - يُسمح <strong>لعضوات وأعضاء مبلا </strong>باستعارة ما يصل إلى ثلاثة كتب
    في نفس الوقت لمدة تصل إلى شهر. في نهاية هذه فترة، يجوز لهم الاحتفاظ بأحد
    الكتب المستعارة طالما استبدلوه بكتاب آخر يوافق عليه فريق المكتبة.
</p>
<p>
    - يسمح <strong>لمن لا ينتمي/تنتمي الى مبلا</strong> باستعارة كتاب واحد في
    وقت واحد، مع نفس الإمكانية لاستبداله بكتاب آخر بعد شهر.
</p>
<p>
    سبب آخر للكتابة إلى imbala.membership@gmail.com والانضمام لعضوية مبلا!
</p>

</div>{% endblock %}
