<button class="menu-btn">Menu</button>
<div class="site-nav">
  <button class="nav-close-button aria-label="Close navigation menu"></button>
  <nav class="site-nav-menu">
    <a href="#">Celery seakale</a>
    <a href="#">Dulse daikon</a>
    <a href="#">Zucchini garlic</a>
  </nav>
</div>
