---
title: 'About Us'
backgroundImage: '/images/about-us-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}
{# <h2 class="about-us-header">
  Imbala was established in 2017 by a group of Jerusalem activists, artists, and human beings from
  all backgrounds and walks of life.
</h2> #}
<div class="about-us-content">
<p>  In 2017, a group of Jerusalem activists, artists, and human beings from all backgrounds and walks of life came together to establish an independent and cooperative space, supported and run by its own members. 
</p>
  <p>
We called the space <span class="bold">Imbala</span>, "if she wills it" in Hebrew and "actually yes" in Arabic, the meaning of which continues to inform our vision.
  </p>

   <p>Imbala is feminist, anti-racist, queer, multi-lingual, multi-generational and vegan.</p>

  <p>
Imbala was founded as communal space for co-resistance in Jerusalem — a place for Jerusalemites who feel unwelcome in other parts of the city. As such, Imbala is a microcosm of what we know this city can be and operates as a meeting place to connect struggles, strategize, and create actions that challenge the status quo in Jerusalem.
  </p>

  <p>Imbala is a café, library, event space, and gallery space which serves multiple functions. <br/> Four days a week, Imbala is open to the general public as a café and library. Everyone is welcome to come sit with a book or laptop, socialize, and enjoy drinks and great vegan food.<br/> Three days per week, Imbala is reserved for its members and allied activist groups to use for meetings, organizing and private events. <br/>Imbala also hosts events, lectures, language exchanges, parties, and more. 

  <p class="bold">Want to learn more? <a href="/manifesto">Read our Manifesto!</a></p>
</div>
{% endblock %}
