---
title: 'מי אנחנו'
description: 'אםבאלה הוא קואופרטיב המבקש לשנות ולהרחיב את המרחב בתוכו הוא צומח, ולשמש בית לאלו שמודרים כיום מהמרחב הציבורי.'
backgroundImage: '/images/about-us-thumb.jpg'
---

{% extends 'layouts/page.njk' %} 
{% block pageContent %}
<div class="about-us-content">
<p>אםבאלה הוא קואופרטיב המבקש לשנות ולהרחיב את המרחב בתוכו הוא צומח, ולשמש בית לאלו שמודרים כיום מהמרחב הציבורי.</p>
<p>ירושלים בימינו עוינת עבור קבוצות אוכלוסיה מסוימות ומוקיעה מתוכה את מי שאינו במגמות השולטות בה. ירושלים מרגישה כמרחב שאומר לאנשים מסוימים – לא, זה לא המקום בשבילכן, כאן אין לכם דריסת רגל.</p>
<p>על זה אנחנו מבקשות.ים להגיד: <span class="bold">דווקא כן</span> (אםבאלה בערבית).</p>
<p>כן למרחב שיתופי, בית ירושלמי חם אוהב ומכיל לפעילים ופעילות, לקהילות שאינן מרגישות בטוחות בעיר: פלסטינים, מפגינות שמאל, הקהילה הלהטבק״ית, מזרחים, אנשים בעלי צרכים ייחודיים ואנשים בעלי יוזמות מקוריות ורעיונות מהפכניים. בית שייצר ויצייר את פני העיר מחדש בעשיה חברתית וקידום פיתוח רעיונות משותפים. מקום קהילתי, רב- לשוני, רב-גילאי וטבעוני. חלל שמהווה מקום משען ואבן שואבת לפעולה ויזמות פוליטית, חברתית, מגדרית, אמנותית ועבור חיות.</p>
<p>בא לנו שאםבאלה תהיה ספרייה פתוחה, בית קפה, גלריה, מרחב פתוח שמשמש את הקהילות המרכיבות אותו, וגם פונה החוצה אל הקהל הרחב, בתערוכות, מסיבות, הרצאות, הופעות, וכל מה שיעלה על דעת חברות המקום. מקום ללמוד ולהנות בו מצד אחד, ולפעול ממנו כדי לשנות את העיר שסביבנו מצד שני.</p>
<p>מקום ללא מטרות רווח שמאפשר לנו לבנות קהילה ולפתחה, לחבר בין מאבקים שונים, ולתת נוכחות ונראות לתרבות והגות פלסטינית, ישראלית, פמינסטית, קווירית, מזרחית, שיתופית, טבעונית, ובעיקר, אלטרנטיבית.<br/> אנחנו מכירות ומתנגדות ליחסי הכוחות הלא שיוויוניים שהכיבוש יוצר בין חברות מזרח ומערב ירושלמיות, אנחנו מכירים ומתנגדות גם לנכבה המתמשכת שמונעת את הגישה והחברות באםבאלה ממליוני פלסטינים. עם זאת, אנחנו מקוות שנוכל לקיים מקום שמאכלס את כל הקולות המקומיים של ירושלים שלא מוצאים ביטוי מספק בעיר.</p>
<p>אנחנו ירושלמיות אשר פועלות מתוך ועבור ירושלים יקירתינו. לשוננו לא דובקת לחכינו: נרים קולינו ונבנה בה את סוג הבית בו אנחנו רוצים לחיות.<br/> מתוך ולמרות המרחב הקיים נקיים מקום שמצמיח אפשרויות מחייה חדשות, שיוויוניות, פתוחות.</p>
<p class="bold">כל חברה בקואופרטיב מתנדבת בהפעלת המקום, בהפקת אירועים ואפשרויות ליצירת החלל תחת חזון משותף. כל אחד ואחת יכולה להיות חלק מאםבאלה- התנאי היחיד הוא שהיא שיכולה להכיל את כל האחרות שהן חלק ממנה. כולנו מייצרות את המקום ואת התוכן בו, אתם הידיים, הראש והלב של המקום הזה, הכל תלוי באנשים, בחיבור ובלקיחת האחריות.</p>
</div>
{% endblock %}
