---
title: 'בית קפה'
description: 'אםבאלה הוא קואופרטיב ובית קפה טבעוני בירושלים, המגיש אוכל בריא, טעים ומתומחר בהגינות.'
backgroundImage: '/images/cafe-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}
<div class="cafe-header">
  <div class="cafe-header-intro">
    <p>
בית הקפה שלנו מגיש אוכל בריא, טעים ומתומחר בהגינות שמבושל ומוגש בהתנדבות על ידי חברי וחברות אםבאלה.
    </p>
    <p>
נשמח לארח אתכן לקפה, סעודה עם חברות או עבודה עם הלפטופ בשעות הפעילות שלנו.    </p>
  </div>
  
  <div class="cafe-header-hours">
    <div class="message-box">
      <h2 class="cafe-header-hours-title">שעות פתיחה</h2>
      <div class="cafe-header-hours-entries">
        <div class="cafe-header-hours-entry">
          <span class="cafe-header-hours-day">ראשון, שני ושלישי</span>
          <span>סגור</span>
        </div>
        <div class="cafe-header-hours-entry">
          <span class="cafe-header-hours-day">רביעי וחמישי </span>
          <span class="cafe-header-hours-time">12:00 - 21:00</span>
        </div>
        <div class="cafe-header-hours-entry">
          <span class="cafe-header-hours-day">שישי</span>
          <span class="cafe-header-hours-time">11:00 - 18:00</span>
        </div>
        <div class="cafe-header-hours-entry">
          <span class="cafe-header-hours-day">שבת</span>
          <span class="cafe-header-hours-time">12:00 - 23:00</span>
        </div>
      </div>
    </div>
  </div>
  <p class="bold cafe-menu-top-message">בשל הנחיות משרד הבריאות אנחנו מגישות תפריט זמני ומצומצם.</p>

</div>

<div class="cafe-menu">
  <div>
    {%- for section in temp_menu['he'] -%}
    <h2 class="cafe-menu-section-title">{{ section.title }}</h2>

    <div class="cafe-menu-section">
      {%- for item in section.items -%}
      <div class="cafe-menu-item">
        <h3 class="cafe-menu-item-title">{{ item.title }}</h3>
        <div class="cafe-menu-item-desc">
          <h5 class="cafe-menu-item-desc-text">{{ item.description | safe }}</h5>
          <span class="cafe-menu-item-desc-price"
            >{{ item.price.regular }} ₪ {% if item.price.member %} / {{ item.price.member }} ₪{% endif
            %}</span
          >
        </div>
      </div>
      {%- endfor -%}
    </div>
    {%- endfor -%}
      
          <footer class="menu-footer">
          <p class="menu-footer-note"><span class="menu-footer-note-ast">∗</span> כאשר מופיעים שני מחירים, הזול מביניהם הוא לחברי אםבאלה</p>
          <p class="menu-footer-note"><span class="menu-footer-note-ast">∗</span> מידע על אלרגנים: המטבח אינו מכיל מוצרים מן החי. המטבח אינו סטרילי מאלרגנים. 
מוזמנות לפנות אלינו לשאלות.</p>
          <p class="menu-footer-note"><span class="menu-footer-note-ast">∗</span> אנחנו לא מקבלות אשראי, אבל במקרה הצורך, שאלו אותנו לגבי תשלום בביט ופייבוקס</p>
      </footer>
  </div>
  {% endblock %}
</div>
