---
title: 'אירועים'
backgroundImage: '/images/events-bg.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}

<div class="events">
<p class="events-message">
  כרגע אין אירועים מתוכננים, אבל אתן יכולות <a href="https://www.facebook.com/imbalacoop" target="_blank">לעקוב אחרינו בפייסבוק</a> לקבלת עדכונים על אירועים עתידיים :)
</p> 
</div>
{% endblock %}
