---
title: 'אירועים'
backgroundImage: '/images/events-bg.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}

<div class="events">
  {% if collections.events.length > 0 %} {% for event in collections.events %}
  <div class="event-box-wrapper {{ event.data.background }}-bg">
    <div class="event-box">
      <div class="event-box__date">
        {{
          event.data.date.toLocaleDateString('he-IL', {
            weekday: 'long',
            month: 'short',
            day: 'numeric'
          })
        }},
        {{ event.data.date.toLocaleTimeString('he-IL', { hour: '2-digit', minute: '2-digit' }) }}
      </div>
      <h3 class="event-box__title">{{ event.data.title_he }}</h3>
      <div class="event-box__description">
        {{ event.data.description_he }}
      </div>
      {% if event.data.event_url %}
      <a href="{{ event.data.event_url }}" target="_blank">אירוע פייסבוק</a>
      {% endif %}
    </div>
  </div>
  {% endfor %} {% else %}
  <p class="events-message">
    כרגע אין אירועים מתוכננים, אבל אתן יכולות
    <a href="https://www.facebook.com/imbalacoop" target="_blank">לעקוב אחרינו בפייסבוק</a> לקבלת
    עדכונים על אירועים עתידיים :)
  </p>
</div>
{% endif %} {% endblock %}
