---
title: 'אירועים'
backgroundImage: '/images/cafe-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}

<div class="events">
  <div class="event-box-wrapper">
    <div class="event-box">
      <div class="event-box__date">3 ביוני, 14:00 - 12:00</div>
      <h3 class="event-box__title">פתיחה מחדש!</h3>
      <div class="event-box__description">
        אחרי כמעט 3 חודשים שהיינו סגורות, פותחות מחדש :()
      </div>
      <a class="">אירוע בפייסבוק</a>
    </div>
  </div>
  <div class="event-box-wrapper queer-bg">
    <div class="event-box">
      <div class="event-box__date">JUN 3, 12:00 - 14:00</div>
      <h3 class="event-box__title">Queerbala Party</h3>
      <div class="event-box__description">
        Join us for the best COVID19 afterpaty in town! Cheap coffee will be served.
      </div>
      <a class="">facebook event</a>
    </div>
  </div>
    <div class="event-box-wrapper">
    <div class="event-box">
      <div class="event-box__date">JUN 3, 12:00 - 14:00</div>
      <h3 class="event-box__title">Imbala’s reopening</h3>
      <div class="event-box__description">
        Join us for the best COVID19 afterpaty in town! Cheap coffee will be served.
      </div>
      <a class="">facebook event</a>
    </div>
  </div>

</div>
{% endblock %}
