{% extends 'layouts/homepage.njk' %} 

{% block welcomeText %}
  <p>
   אםבאלה הוא קואופרטיב פוליטי ובית קפה טבעוני בבעלות חברותיו במרכז ירושלים
  </p>
{% endblock %} 

{% block sloganText %}
  <p>
    אנו מזמינות אורחים מכל פינות העיר והעולם השסועים.
  </p>
{% endblock %}
