{% extends 'layouts/homepage.njk' %} 

{% block welcomeText %}
  <p>אםבאלה הוא קואופרטיב פוליטי ובית קפה טבעוני בבעלות חברותיו במרכז ירושלים</p>
{% endblock %} 

{% block homeButtons %}
  <a class="imbala-button" href="/about-us">Learn About Us</a>
  <a class="imbala-button" href="/cafe/">View Our Menu</a>
{% endblock %} 




{% block sloganText %}
  <p>Welcoming guests from all corners of this divided city and world.</p>
{% endblock %}
