---
description: '.אםבאלה הוא קואופרטיב פוליטי ובית קפה טבעוני בבעלות חברותיו במרכז ירושלים'
backgroundImage: '/images/about-us-thumb.jpg'
---

{% extends 'layouts/homepage.njk' %} 

{% block welcomeText %}
  <p>
   אםבאלה הוא קואופרטיב פוליטי ובית קפה טבעוני בבעלות חברותיו במרכז ירושלים
  </p>
{% endblock %} 