---
title: 'הצטרפו אלינו'
description: 'הצטרפו להיות חלק מקהילת אםבאלה! הכירו בני ובנות אדם מהעיר, קחו חלק בקבלת ההחלטות, וקבלו את האפשרות להשתמש במקום.'
backgroundImage: '/images/join-us-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}
<div class="about-us-content">
  <p>
אםבאלה היא קואופרטיב שקיים בזכות ובשביל החברים שמקיימים אותו.
  </p>
  <p>
כל מה שקורה באםבאלה מתאפשר בזכות החברים: מקניות של מוצרי גלם, בישול של המאכלים הטעימים שלנו, ועד תכנון מסיבות, הקרנות סרטים ועוד.  </p>
  <p>
כל ההחלטות לגבי הקואופרטיב, כולל מה יהיה בתפריט, איך להגיב לאירועים אקטואלים, ואיך המקום יראה, נעשות בקונצנזוס באסיפות חברים חודשיות.  </p>

  <p>
אנחנו מזמינות אתכן לקחת חלק בקהילה שלנו ולהפוך לחברות אםבאלה!  </p>

  <div class="message-box join-us-message-box">
  <p>לא גרים בירושלים, אבל רוצים לתמוך בבנייה של קהילה אקטביסטית תוססת ופעילה? תמכו בנו מרחוק דרך <a href="https://www.patreon.com/imbala" target="_blank">Patreon</a>!</p>
  </div>

  <h3>מי יכול להיות חבר?</h3>

  <p>
כולם. התנאי היחיד הוא לקבל את כל יתר החברים.
  </p>
  <h3>מה להיות חברה נותן לי?</h3>
  <p>
כחברת אםבאלה, את קודם כל זוכה בלהיות חלק מהקהילה שלנו.  תוכלי להשתתף בקבלת החלטות לגבי המקום, בהזמנה לארועים לחברים בלבד ולשמור את המקום לארועים ופגישות שאת מארגנת, בין אם הם פתוחים לקהל או ארועים פרטיים שלך. <br/>
בנוסף, תהיי זכאית להנחות על שתיה ואוכל בבית הקפה. </p>
  <h3>מה הדרישות ממני כחברה?</h3>
  <p>
חברות אםבאלה נדרשות לתת משמרת אחת של ארבע שעות בחודש (בתפעול המקום בשעות הפתיחה או במשמרת בישול), ולשלם דמי חברות חודשיים של 20 ש"ח. כל השאר זה בונוס.
  </p>
  <h3>מדהים! איך אני מצטרף?</h3>
  <p>
    שלחו לנו מייל אל
    <a href="mailto:imbala.membership@gmail.com?subject=Joining Imbala"
      >imbala.membership@gmail.com</a
    >
    ונחזור אליכן :-)
  </p>
</div>

{% endblock %}
