{% extends 'layouts/base.njk' %} {% block content %}
<div class="homepage">
  <main class="homepage-content">
    <div class="homepage-hero">
      <div class="homepage-hero-text">
        {% block welcomeText %}{% endblock %} 
      </div>

        <div class="homepage-actions-buttons">
          <a class="imbala-button" href="/{{ locale }}/about-us">{{ buttons[locale].aboutUs }}</a>
          <a class="imbala-button" href="/{{ locale }}/cafe/">{{ buttons[locale].menu }}</a>
        </div>            
      </div>
    </div>
  </main>
</div>
{% endblock %}
