{% extends 'layouts/base.njk' %} {% block content %}
<div class="homepage">
  <main class="homepage-content">
    <div class="homepage-hero">
      <div class="homepage-hero-text">
        {% block welcomeText %}{% endblock %}
        </div>

        <div class="homepage-actions-buttons">
          {% block homeButtons %}{% endblock %}
        </div>
              
        <div class="homepage-hero-text homepage-slogan">
        {% block sloganText %}{% endblock %}
      </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
