---
title: 'About Us'
backgroundImage: '/images/about-us-thumb.jpg'
---

{% extends 'layouts/page.njk' %} {% block pageContent %}
<h2 class="about-us-header">
  Imbala was established in 2017 by a group of Jerusalem activists, artists, and human beings from
  all backgrounds and walks of life.
</h2>
<div class="about-us-content">
  <p>
    With the founding of Imbala, we have created a communal space for co-resistance in Jerusalem — a
    place for Jerusalemites who feel unwelcome in other parts of the city.
  </p>

  <p>
    As such, Imbala is a microcosm of what we know this city can be, and it is now our meeting place
    to connect struggles, strategize, and create actions that challenge the status quo in Jerusalem.
  </p>

  <p>In practice, Imbala is a café / library / event space which serves multiple functions:</p>

  <ol>
    <li>
      Four days per week, Imbala is open to the general public as a café and library. Everyone is
      welcome to come sit with a book or laptop, socialize, and enjoy drinks and great vegan food.
    </li>
    <li>Imbala hosts events, lectures, language exchanges, parties, and more.</li>
    <li>
      Three days per week, Imbala is reserved for its members and allied activist groups to use for
      meetings, organizing and private events.
    </li>
  </ol>
</div>
{% endblock %}
