---
title: 'Cafè'
backgroundImage: '/images/cafe-thumb.jpg'
---

{% extends 'layouts/page.njk' %}

{% block pageContent %}
<div class="cafe-header">
  <div class="cafe-header-intro">
    <p>Our cafè is serving high quality, sustainable, vegan and reasonbly priced food, made by Imbala’s members.</p>
    <p>Check our opening hours for details on when you can come grab a coffe taste one of our heavenly dishes.</p>
  </div>
  <div class="cafe-header-hours">
  <div class="cafe-header-hours-wrapper">
    <h2 class="cafe-header-hours-title">Opening Hours</h2>
    <div class="cafe-header-hours-entries">
      <div class="cafe-header-hours-entry">
        <span>Sunday, Monday, Tuesday</span>
        <span>CLOSED</span>
      </div>
      <div class="cafe-header-hours-entry">
        <span>Wedensday, Thursday, Saturday</span>
        <span>12:00 - 23:00</span>
      </div>
      <div class="cafe-header-hours-entry">
        <span>Friday</span>
        <span>11:00 - 18:00</span>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}