{% extends 'layouts/homepage.njk' %}

{% block heroText %}
  <p>Imbala is an independent, member-owned political cooperative and vegan café in Jerusalem.</p>
  <p>Welcoming guests from all corners of this divided city and world.</p>
{% endblock %}

{% block address %}
<span class="homepage-address-line">Yanai 3, Jerusalem</span>
<span class="homepage-address-line">Wed, Thu & Sat 12:00 - 23:00</span>
<span class="homepage-address-line">Fri 11:00 - 18:00</span>
{% endblock %}
