.about-us-header {
  font-size: clamp(24px, 5vw, 38px);
  line-height: clamp(33px, 6vw, 55px);
  text-align: center;
}

.about-us-content {
  font-size: clamp(18px, 1.45vw, 24px);
  line-height: clamp(28px, 5vw, 38px);
}
