.imbala-button {
  width: 280px;
  height: 65px;
  margin: 10px;
  appearance: none;
  background: #ff8800ce;
  font-family: var(--sub-font);
  color: #fff;
  font-size: 16px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.25s;
}

.imbala-button:hover {
  background: #ff88006c;
}
