.cafe-header {
  display: flex;
  flex-direction: column;
}

.cafe-header-intro {
  font-size: 18px;
  line-height: 30px;
}

.cafe-header-hours-wrapper {
  padding: 20px;
  background: #fff7d3;
  box-shadow: inset 0 0 0 1px #dcdcdc, inset 0 0 0 4px #fff, inset 0 0 0 5px #dcdcdc;
}

.cafe-header-hours-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-size: 21px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

.cafe-header-hours-entries {
  font-weight: 100;
}

.cafe-header-hours-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.cafe-header-hours-day {
  margin-bottom: 5px;
  font-weight: 400;
}

.cafe-menu-section {
  display: grid;
  gap: 20px;
}

.cafe-menu-section-title {
  font-family: var(--main-font);
  font-size: 33px;
  color: #454545;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0px 1px 0px 0px #d3d3d3, 0px 5px 0px 0px #fff, 0px 6px 0px 0px #d3d3d3;
}

.cafe-menu-item-title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 400;
}

.cafe-menu-item-desc {
  display: flex;
  flex-direction: column;
}

.cafe-menu-item-desc-text,
.cafe-menu-item-desc-price {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 100;
}

@media (min-width: 1024px) {
  .cafe-header {
    flex-direction: row;
  }

  .cafe-header-intro,
  .cafe-header-hours {
    width: 50%;
  }

  .cafe-menu-section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 7vw;
  }

  .cafe-header-intro {
    margin-right: 40px;
  }

  .cafe-header-hours-entry {
    flex-direction: row;
    justify-content: space-between;
    font-weight: 100;
  }

  .cafe-menu-item-desc {
    flex-direction: row;
    justify-content: space-between;
  }

  .cafe-menu-item-desc-text {
    margin-right: 10px;
  }
}
