:root {
  --nav-width: 260px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url('/images/imbala-bg.jpg');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.site-header {
  height: 70px;
}

.homepage-content {
  text-align: center;
  padding: 0 8vw;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.96px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.homepage-content-address {
  font-size: 20px;
  letter-spacing: -0.8px;
  font-style: normal;
}

.homepage-content-address-line {
  display: block;
  margin: -10px 0;
}

.homepage-logo {
  width: 80%;
  margin: 30px 0;
}

@media (min-width: 768px) {
  body {
    background-position: center;
  }
}

.site-nav-menu {
  height: 100vh;
  width: var(--nav-width);
  transform: translateX(calc(-20px - var(--nav-width)));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #F47D29;
  transition: all 0.3s ease;
}

.no-js .menu-btn {
  display: none;
}

.site-nav-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.site-nav-menu a:hover {
  background: #258ecd;
}

.site-nav-menu a:active {
  background: #afdefa;
  color: #47a3da;
}

.menu-active .site-nav-menu {
  transform: translateX(0);
}

.menu-btn {
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('/images/menu-icon.svg');
  background-position: 50%;
  background-size: 40px;
  border: none;
}

.nav-close-button {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px;  
  background-color: #F47D29;
  background-repeat: no-repeat;
  background-image: url('/images/close-icon.svg');
  background-position: 50%;
  background-size: 40px;
  transition: all 0.3s;
  transform: translateX(-60px);
  border: none;
}

.menu-active .nav-close-button {
  display: block;
  transform: translateX(calc(var(--nav-width) - 10px));
}
