:root {
  --nav-width: 260px;
  --main-font: Georgia, 'Times New Roman', Times, serif;
  --sub-font: Simpler, -apple-system, system-ui, sans-serif;
}

@font-face {
  font-family: 'Simpler';
  font-style: normal;
  font-weight: normal;
  src: local('Simpler Regular'), url('css/Simpler-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Simpler';
  font-weight: 300;
  src: local('Simpler Light'), url('css/Simpler-Light.woff') format('woff');
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--main-font);
  background-image: url('/images/imbala-bg.jpg');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

@media (min-width: 1024px) {
  body {
    background-position: center;
  }

  .site-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: [site-nav] 300px [site-content] auto;
    grid-template-rows: [site-nav site-content] 1fr;
  }

  .site-nav {
    grid-area: site-nav;
  }

  .site-content {
    grid-area: site-content;
  }

  .main {
    min-height: 95vh;
    padding: 12.5px;
    background: #d1a88724;
  }
}
