.page-hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  background-position: center;
  background-color: #000;
}

.page-hero-title-wrapper {
  width: 100%;
  text-align: center;
  background: #361d0954;
}

.page-content {
  padding: 15px 30px;
  font-family: var(--sub-font);
  color: #000;
}