<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/imbala.css">
    <script src="/js/index.js" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <title>Imbala - Community & Cafè</title>
  </head>
  <body class="no-js landing">
    <div class="landing-content">
          <img src="/images/logo.png" class="landing-logo" />
          <div class="landing-intro">
          <p class="rtl bold">Hello, שלום & سلام!</p>
          <p class="landing-intro">what language do you speak?</p>
</div>
          <div>
            <a class="imbala-button" href="/en" lang="en" hreflang="en">English</a>
            <a class="imbala-button" href="/he" lang="he" hreflang="he">עברית</a>
            <a class="imbala-button">العربية</a>
          </div>

    </div>
  </body>
  </div>
</html>
