<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/imbala.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <title>Imbala - Community & Cafè</title>
    <meta name="description" content="Imbala was founded by a group of Jerusalem activists as a meeting place to build community and strategize about making our city equal, just, and warm.">
  </head>
  <body class="no-js landing">
    <div class="landing-content">
        <picture>
          <source
            type="image/webp"
            srcset="/images/logo@1x.webp 1x, /images/logo@2x.webp 2x, /images/logo@3x.webp 3x"
          />
          <source srcset="/images/logo@1x.png 1x, /images/logo@2x.png 2x, /images/logo@3x.png 3x" />
          <img src="/images/logo@1x.png" alt="" class="landing-logo" />
        </picture>        
        <div class="landing-intro">
          <p class="rtl bold">Hello, שלום & سلام!</p>
          <p class="landing-intro">what is your preferred language?</p>
        </div>

      <div>
        <a class="imbala-button" href="/he" lang="he" hreflang="he">עברית</a>
        <a class="imbala-button" href="/en" lang="en" hreflang="en">English</a>
        <a class="imbala-button">العربية</a>
      </div>
    </div>
  </body>
  </div>
</html>
